@import url("https://use.typekit.net/vbe4byy.css");

* {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    overflow: hidden;
    margin: 0;
    font-family: open-sans, sans-serif;
    background-image:  radial-gradient(#3a2dff21 2px, transparent 2px), radial-gradient(#3a2dff21 2px, transparent 2px);
    background-size: 60px 60px;
     /* fix google chrome issue */
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
}

nav {
    position: fixed;
    top: 0;
    z-index: 100;
}

.menu_button {
    font-family: all-round-gothic, sans-serif;
    font-weight: 500;
    -webkit-text-stroke: 3px black;
    color: white;
    text-shadow: blueviolet .5rem .5rem;
    font-size: 8rem;
    transition: transform .5s, text-shadow .5s;
    margin: 0 3.3rem;
    cursor: pointer;
    user-select: none;
}

.menu {
    z-index: 2;
    background-color: white;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid black 3px;
    transition: transform 1s;
}

.menu a {
    text-decoration: none;
}

.purple {
    text-shadow: blueviolet .5rem .5rem;
}

.green {
    text-shadow: #4CE314 .5rem .5rem;
}

.blue {
    text-shadow: #2025E3 .5rem .5rem;
}

main {
    height: 100%;
    width: 100%;
    transition: transform 1s;
    z-index: 1;
}

.rotate {
    transform: rotate(45deg);
    text-shadow: blueviolet .5rem .2rem;
}

.reset {
    transform: rotate(0deg);
}

section {
    height: 100vh;
    padding: 0 1%;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#projects, #about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 4rem;
}

.title {
    grid-row: 1;
    grid-column: 1;
    height: 100%;
    font-family: all-round-gothic, sans-serif;
    font-weight: 600;
    -webkit-text-stroke: 3px black;
    color: white;
    text-shadow: blueviolet .5rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.title_left {
    font-size: 8rem;
    transform: translateX(-200%);
    animation: slide_left 1s;
    animation-delay: .5s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes slide_left {
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.title_right {
    text-indent: 150px;
    font-size: 8rem;
    transform: translateX(200%);
    opacity: 0;
    animation: slide_right 1s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}

@keyframes slide_right {
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.title_center {
    align-self: center;
    text-shadow: none;
    color: black;
    -webkit-text-stroke: none;
    font-weight: normal;
    font-size: 3rem;
    animation: opacity_center 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    opacity: 0;
}

@keyframes opacity_center {
    100% {
        opacity: 1;
    }
}


.fa-arrow-circle-down {
    font-size: 5rem;
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    align-self: flex-end;
    margin: .5em;
    animation-name: hover;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function:ease-out;
    cursor: pointer;
}

@keyframes hover {
    0% {
        transform: translateY(-10px)
    }
    50% {
        transform: translateY(10px)
    }
    100% {
        transform: translateY(-10px);
    }
}

#projects.full_page, #about.full_page {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
}

.full_page .box_background {
    max-width: 1500px;
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

#projects.full_page .box_content {
    overflow-y: scroll;
    height: 100%;
    scrollbar-color: black;
}

#about.full_page .box_content {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 100%;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
}

#about.full_page .skills {
    grid-row: 2;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.full_page .img_container {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1.5rem;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.full_page .img_container img {
    width: 100%;
}

#about.full_page .img_container {
    width: 100%;
}

#about.full_page .img_container img{
    width: 100%;
    max-width: unset;
}

.img_link {
    position: relative;
}

.img_link a {
    position: absolute;
    inset: 0 0 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    border-radius: .75rem;
    background-color: rgba(76, 227, 20, 0.75);
    border: solid black 3px;
    opacity: 0;
    transition: opacity 200ms;
}

.img_link a:hover {
   opacity: 1;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ccc; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
  }

.box_background {
    background-color: white;
    border: solid black 3px;
    box-shadow: black .5rem .5rem;
    border-radius: .75rem;
}

.box_top {
    height: 25px;
    border-bottom: black solid 3px;
    border-radius: 0.5rem 0.5rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .25rem;
}

#projects .box_top {
    background-color: #4CE314;
}

#about .box_top {
    background-color: #2025E3;
}

.dots {
    display: flex;
}

.header_dot {
    height: 10px;
    width: 10px;
    border: solid black 2px;
    border-radius: 100%;
    margin: 0 .25rem;
}

.red_dot {
    background-color: red;
}

.yellow_dot {
    background-color: orange;
}

.green_dot {
    background-color:limegreen;
}

.header_name {
    color: black;
    font-size: .75rem;
    font-weight: bold;
    margin: 0 0.25rem;
}

#about .header_name {
    color: white;
}

.box_content {
    padding: 5rem;
}

.img_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2.5rem;
}

h2 {
    margin: 2rem 0;
    font-size: 5rem;
    font-weight: 600;
    -webkit-text-stroke: black 3px;
    color: white;
    font-family: all-round-gothic, sans-serif;
}

.img_container {
    position: relative;
}

.img_container img {
    max-width: 350px;
    border-radius: .75rem;
    border: solid black 3px;
    box-shadow: black .5rem .5rem;
}

#projects .img_container .img_link:nth-child(3) {
    grid-row: 2;
    grid-column: 1/3;
    justify-self: center;
}

#about .img_container img {
    max-width: 500px;

}

.text {
    text-align: center;
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 2rem;
}

.text h2, .tema_text h4 {
    margin: 0;
}


.multiple_button {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.button {
    text-align: center;
    background-color: gold;
    border: solid black 3px;
    max-width: 35ch;
    box-shadow: black .5rem .5rem;
    transition: box-shadow .2s, background-color .2s;
}

.button:active {
    background-color: white;
    box-shadow: none;
}

a.link {
    text-decoration: none;
    color: black;
    font-family: open-sans, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.link p {
    margin: 0;
    padding: 1.5rem 1rem;
}

.tema {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 5rem;
}

.tema:last-child {
    margin-bottom: 0;
}






/* ipad */
@media  (max-width: 1200px) {
    .title_left {
        font-size: 6rem;
    }
    .title_right {
        font-size: 6rem;
    }
    .title_center {
        font-size: 2rem;
    }
    .fa-arrow-circle-down {
        font-size: 4rem
    }
    .box_content {
        padding: 2rem;
    }
    .img_grid {
        gap: 2rem;
    }
    .img_container img {
        width: 200px;
    }
    #about .img_container img {
        width: 400px;
    } 
}

/* phone */
@media (max-width: 820px) {
    .menu_button {
        font-size: 5rem;
        -webkit-text-stroke: 2px black;
        text-shadow: blueviolet 0.3rem 0.3rem;
        margin: 0 2rem;
        
    }
    .rotate {
        transform: rotate(45deg);
        text-shadow: blueviolet .3rem .1rem;
    }
    h2 {
        -webkit-text-stroke: 2px black;
        font-size: 3rem;
    }  
    .title {
        -webkit-text-stroke: 2px black;
        text-shadow: blueviolet 0.3rem 0.3rem;
    }
    .title_left {
        font-size: 4rem;
    }
    .title_right {
        font-size: 4rem;
        text-indent: 75px;
    }
    .title_center {
        font-size: 1.5rem;
    }
    .fa-arrow-circle-down {
        font-size: 3rem
    }
    .button{
        border-width: 2px;
        box-shadow: black 0.25rem 0.25rem; 
    }
    .text .link {
        font-size: 1rem;
    }
    .link p {
        padding: 1rem .5rem;
    }
    .box_background {
        border-width: 2px;
        box-shadow: black 0.25rem 0.25rem;
    }
    .box_top {
        border-bottom-width: 2px;
        border-radius: .6rem .6rem 0 0;
    }
    .header_dot {
        height: 7px;
        width: 7px;
    }
    .box_content {
        padding: 1rem;
    }
    .img_grid {
        gap: 1rem;
    }
    .img_container img {
        width: 125px;
        border-width: 2px;
        box-shadow: black 0.25rem 0.25rem;
    }
    .full_page .img_container {
        justify-content: center;
        flex-direction: column;
    }
    .multiple_button {
        flex-direction: row;
    }
    #about .img_container img {
        width: 250px;
    
    }
    #about.full_page .skills {
        grid-row: 2;
        grid-column: 1/3;
        display: block;
    }
    .green {
        text-shadow: #4CE314 .25rem .25rem;
    } 
    .blue {
        text-shadow: #2025E3 .25rem .25rem;
    }
    p {
        font-size: .875rem;
    }
}

/* portrait */
@media (orientation: portrait){
    #projects, #about {
        flex-direction: column;
        justify-content: center;
    }
    #about.full_page .box_content {
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 2rem;
        justify-content: start;
        overflow-y: scroll;
    }
}